<% include ./partials/header %>


<h1>Index Page</h1>

<% blogs.forEach(function(blog){ %> 
<div>
    <h1><%=blog.title %></h1>
    <img src="<%= blog.image%>">
    <span><%=blog.created %></span>
    <%= blog.body.substring(0,100) %>
    <a href="/blogs/<%=blog._id%>">Read More</a>
</div>
<%});%>


<% include ./partials/footer %>


